@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model KaPKa.Models.ContactModel

<div class="container-fluid TopBottomC">

    <h3>Contact Form (not yet ready)</h3>
    <form asp-action="Index" asp-controller="Home" method="post">
        <div>
            <label asp-for="Name">Please enter your name:</label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Email">Please enter your email:</label>
            <input type="text" asp-for="Email" />
        </div>
        <div>
            <label asp-for="Message">Please enter your message:</label>
            <textarea asp-for="Message"></textarea>
        </div>
        <input type="submit" value="Send" />
    </form>
</div>