@{
    ViewData["Title"] = "KapKa";
}

<div class="container paddingTopK rescatTileStyleK">
    <div class="introTileK">
        @*Intro*@
        <a href="https://github.com/Mileek/KaPKa-Portfolio.git"><img src="~/Content/Img/KapkaWhite.png" /></a>
        <p id="openingNoteK">Before we get started, I'd like to point out that the code for the entire project is on my GitHub account (or just simply right click and inspect it), so if you're interested, take a look at my GitHub account!</p>
    </div>
    <div class="technologiesK">
        @*technologies used*@
        <p class="subHeaderProjects">Languages:</p>
        <figure>
            <img id="cSharpR" src="~/Content/Img/cSharpLogo.png" />
        </figure>
        <figure>
            <img id="htmlR" src="~/Content/Img/htmlLogo.png" />
        </figure>
        <figure>
            <img id="cssR" src="~/Content/Img/cssLogo.png" />
        </figure>
        <div style="clear:both;"></div>
        <p class="subHeaderProjects">Libraries:</p>
        <figure>
            <img id="bootstrapR" src="~/Content/Img/bootstrapLogo.png" />
        </figure>

        <p class="subHeaderProjects">Tools:</p>
        <figure>
            <img id="visualStudioComR" src="~/Content/Img/visualStudioCommunityLogo.png" />
        </figure>
        <figure>
            <img id="visualStudioCodR" src="~/Content/Img/visualStudioCodeLogo.png" />
        </figure>
        <div style="clear:both;"></div>
    </div>

    <div class="aboutKapka">
        <p class="headerProjects">About:</p>
        <p class="textProjects"><strong>Hi,</strong><br />As you might have noticed, you are currently on my portfolio website - KapKa. This website was created to hone my skills in HTML, CSS and C#. The acronym KapKa comes simply from my name - Kamil Patryk Kaszuba. Everything on this site was created based on my vision and will be updated in the future to include all of my projects.</p>
        <p class="subHeaderProjects">As the website is not yet complete, I think the best way to prestent it, is through small Q&A.</p>

        <p class="question">What is the point of this website?.</p>
        <p class="answer">I wanted to create a website where I could showcase my projects. Github is a good place to post code, but it seems to me that its readME file is not used to describe projects in depth.</p>

        <p class="question">Why aren't all of your projects on GitHub?</p>
        <p class="answer">Because they were created using Polish variables. Another reason is that these codes were created some time ago and unfortunately their source files have been lost and I only have their copies.</p>

        <p class="question">Why move from ADO.Net to ASP.NET?.</p>
        <p class="answer">Because my knowledge of ADO.Net was based on WPF and it is <span id="crossK">pretty much dead</span> no longer used as much as it once was.</p>

        <p class="question">There is not really much ASP.Net in your ASP.Net project.</p>
        <p class="answer">Yes that's true, firstly I am focusing on creating the whole website and then I will be posting ASP.Net projects down below. In the future, the site will also be updated with some ASP.Net features - but not all at once.</p>

        <p class="question">Then why use ASP.Net MVC ?</p>
        <p class="answer">Because even thought I don't use much out of it I am still learning it's basics and I am planning to add some of its features to this website.</p>

        <p class="question">Why move from backend to frontend ?.</p>
        <p class="answer">I am not moving my specialization from backend to frontend, I always wanted to be a fullstack developer. I like creating layouts, animations and making the vision from my mind come true, but I also like the backend that makes everything just work. Learning HTML and CSS is also important, because without them I wouldn't be able to create a future backend.</p>

        <p class="question">If you have more questions about this website or anythink else I encourage you to send me an email or message on LinkedIn!</p>
        <p class="answer"></p>

        <p class="question"></p>
        <p class="answer"></p>


    </div>
    <div>
        @*Conclusion*@
        @*<p class="headerProjects">Coclusion:</p>
        <p class="textProjects">*@
    </div>
</div>
