@{
    ViewData["Title"] = "My Myself & I";
}


<div class="paddingTopA contentBg">
    
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    @*Me - massage from me*@
    <div class="container aboutMeStyleA">
        <div>
            <p class="aboutMeLogoA"><span id="meA">Me,</span> <span id="myselfA">Myself</span> <span id="iA">& I</span></p>
        </div>
        <div class="aboutMeNoteA">
            <p id="introductionA">&nbsp;&nbsp;&nbsp;&nbsp;<strong>Hi,</strong> my name is <strong>Kamil</strong> and I am a graduate of The Silesian University of Technology. At my university I studied various things, such as mechanics, electrical engineering or computer science, and I found that programming is what I want to do in life. I am currently looking for a job as a backend developer or frontend developer, and in the future I want to become a fullstack developer.</p>
            <p id="myStudiesA">&nbsp;&nbsp;&nbsp;&nbsp;During my studies, I learned many things in this field such as object-oriented programming (OOM) in C#, database management in MS SQL, basics of programming <a asp-area="" asp-controller="Home" asp-action="uCProgram"> &#181;C in C</a> and Assembler, and many smaller projects such as a socket server and client in Python.</p>
            <p id="rescatA">&nbsp;&nbsp;&nbsp;&nbsp;In my spare time I created my largest <a asp-area="" asp-controller="Home" asp-action="ReSCat">project in WPF</a>, using C# as the backend and XAML as the frontend. My application was based on my previous experience in a company where I was responsible for creating a production plan. Production plans are created using Excel, which is inefficient for larger tables. This project was my big step up from <a asp-area="" asp-controller="Home" asp-action="SqlDB">Winforms</a> to WPF, and from raw sql commands to entity framework code. <span>I have also created many logic-based <a asp-area="" asp-controller="Home" asp-action="ConsoleApps">cmd applications</a> as my answer to Anna Kempa and Tomasz Stasia's book.</span></p>
            <p id="myHobbysA">
                &nbsp;&nbsp;&nbsp;&nbsp;I have always been a bookworm, able to spend hours reading a good book, sometimes even late at night. Although I enjoy reading books, I am also interested in sports, such as football, which I have played since I was a kid, and running is my daily routine.
            </p>
            <p id="learningA">&nbsp;&nbsp;&nbsp;&nbsp;I am an easygoing and openminded person who loves to learn new things. I am interested in learning a new programming language if needed and improving my English from B2 to at least C1.</p>
            <p id="pointResumeA">Check out my Resume! <i class="icon-forward"></i> </p>
            <div class="collapse" id="bookworm">
                <div class="card card-body">
                    i love fantasy books.
                </div>
            </div>
        </div>
    </div>

    @*Myself Resume about myself*@
    <div class="container resumeStyleA">
        <div class="aboutMeA">
            <div class="photoLeftA">
                <img id="kamilTopA" src="~/Content/Img/KamilTop.jpg" />
            </div>
            <div class="textRightA">
                <p id="shortNoteA">
                    <i>"I love learning and computers have always been my passion. During my mechatronics studies, I learned my first programming language C#. Due to the versatility of my studies, I also learned the basics of SQL, C, Python and assembler. I am looking for an opportunity to start my career as a C # developer, but I am also ready for other challenges such as Java, Python or JavaScript. Currently I am learning HTML, CSS and Asp.Net."</i>
                </p>
            </div>

        </div>

        <div class="educationA">

            <p class="aboutHeaderA">Education</p>

            <p class="dateA">10.2018 – 02.2022</p>
            <p class="aboutSubHeaderA">
                <strong>Silesian University of Technology</strong>
            </p>
            <div class="arrowsEducationA">
                <img src="~/Content/Img/arrowRoundSideNoteA.png" />
                <p>It was really tough, but it taught me a lot of things!</p>
            </div>
            <p class="textA">
                <br />
                Major: mechatronics<br />
                Specialization: Application of mechatronics in electrical engineering<br />
                Educational level: Engineer
            </p>

            <p class="dateA">09.2014 – 06.2018</p>
            <p class="aboutSubHeaderA">
                <strong>Energy Technical College</strong>
            </p>
            <p class="textA">
                <br />
                Specialization: Mechatronics Technician<br />
                Educational level: secondary
            </p>
        </div>

        <div class="experienceA">
            <div class="sideNoteExperienceA">
                <p>Yes I know my experience doesn't have much to do with IT, but at least it shows that I tried to work despite my studies!. Everyone has to start somewhere, right ?&#128516;</p>
            </div>
            <p class="aboutHeaderA">Professional Experience</p>

            <p class="dateA">07.2021 – 07.2021</p>
            <p class="aboutSubHeaderA">
                <strong>Engineering internship</strong> | CONTEC KROMISS Sp.z o.o.
            </p>
            <p class="textA">
                <br />
                Working with technical drawings,<br />
                Calculating the production costs of elements,<br />
                Work on production plan,<br />
                Taking care of proper flow of documentation,<br />
                Working with AutoCAD,<br />
                Handling company orders,<br />
                Operation of office equipment.
            </p>

            <p class="dateA">08.2018 – 08.2018</p>
            <p class="aboutSubHeaderA">
                <strong>Office administration</strong> | RAPID Artur Matysiak, delegated do ZRE Katowice
            </p>
            <p class="textA">
                <br />
                Work with a technical drawings,<br />
                Documentation workflow,<br />
                Work with AutoCAD,<br />
                Measurement of varnish coatings,<br />
                Service of office equipment.
            </p>

            <p class="dateA">03.2017 – 03.2017</p>
            <p class="aboutSubHeaderA"><strong>Mechatronics Engineer</strong> |  O Sullivan Crane Hire Ltd Ireland</p>
            <p class="textA">
                <br />
                Diagnostics of vehicles and cranes,<br />
                Work with the technical documentation of vehicles,<br />
                Tire replacement,<br />
                Vulcanization and maintenance.
            </p>

            <p class="dateA">06.2016 – 07.2016</p>
            <p class="aboutSubHeaderA">Intern | Tauron Jaworzno III Power Plant</p>
            <p class="textA">
                <br />
                Work with the technical documentation of mechatronic and electrical devices,<br />
                PLC programming,<br />
                Work with the installation and commissioning of mechatronic and electrical devices,<br />
                Periodic maintenance of mechatronic and electrical devices.
            </p>
        </div>

        <div class="skllsA">
            <p class="aboutHeaderA">Skills</p>
            <table class="skillsTableA" border="1">
                <tbody>
                    <tr>
                        <th>I know:</th>
                        <th>I am learning:</th>
                        <th>I know the basics:</th>
                    </tr>
                    <tr>
                        <td>&gt ADO.Net</td>
                        <td>&gt ASP.Net</td>
                        <td>&gt Python</td>
                    </tr>
                    <tr>
                        <td>&gt C#</td>
                        <td>&gt HTML</td>
                        <td>&gt C</td>
                    </tr>
                    <tr>
                        <td>&gt SQL</td>
                        <td>&gt CSS</td>
                        <td>&gt Matlab</td>
                    </tr>
                    <tr>
                        <td>&gt WPF</td>
                        <td>&gt Bootstrap</td>
                        <td>&gt PLC</td>
                    </tr>
                    <tr>
                        <td>&gt XAML</td>
                        <td>&gt GitHub</td>
                        <td>&gt TIA Portal</td>
                    </tr>
                    <tr>
                        <td>&gt Entity Framework</td>
                        <td>&gt .NET</td>
                        <td>&gt Autodesk</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="languagesA">
            <p class="aboutHeaderA">Languages</p>

            <p class="textA">English: level B2</p>
            <div class="arrowsLanguagesA">
                <img src="~/Content/Img/arrowRoundSideNoteA.png" />
                <p>After my internship in Ireland, I am quite confident in my English.</p>
            </div>
            <p class="textA">German: level A1</p>
        </div>

        <div class="coursesA">
            <p class="aboutHeaderA">Courses and certificates</p>

            <p class="dateA">
                12.2020
            </p>
            <p class="aboutSubHeaderA">
                <strong>Autodesk Certified User: AutoCAD</strong>
            </p>
            <p class="textA">
                Organizer: Autodesk
            </p>

            <p class="dateA">
                07.2018
            </p>
            <p class="aboutSubHeaderA">
                <strong>Forklift operator and gas cylinder replacement</strong>
            </p>
            <p class="textA">
                Organizer: Akademia Efect
            </p>

            <p class="dateA">
                05.2018
            </p>
            <p class="aboutSubHeaderA">
                <strong>Programming of industrial PLC controllers</strong>
            </p>
            <p class="textA">
                Organizer: Centrum Szkoleń i Projektów Piotr Wiśniewski
            </p>

            <p class="dateA">
                03.2018
            </p>
            <p class="aboutSubHeaderA">
                <strong>E.19. Design and programming of mechatronics devices and systems</strong>
            </p>
            <p class="textA">
                Organizer: Centralna Komisja Egzaminacyjna
            </p>

            <p class="dateA">
                08.2017
            </p>
            <p class="aboutSubHeaderA">
                <strong>E.18. Operation of mechatronic devices and systems</strong>
            </p>
            <p class="textA">
                Organizer: Centralna Komisja Egzaminacyjna
            </p>

            <p class="dateA">
                03.2017
            </p>
            <p class="aboutSubHeaderA">
                <strong>E.3. Installation of mechatronic devices and systems</strong>
            </p>
            <p class="textA">
                Organizer: Centralna Komisja Egzaminacyjna
            </p>
        </div>

        <div class="hobbyA">
            <p class="aboutHeaderA"><strong>Hobby</strong></p>
            <p class="textA">
                I spend most of my free time reading books and learning programming. I am interested in sports, mainly football and volleyball.
            </p>
        </div>

        <div class="linksA">
            <p class="aboutHeaderA"><strong>Links</strong></p>

            <p class="aboutSubHeaderA">

            </p>
            <p class="textA">
                <a href="https://www.credly.com/badges/3b801300-794d-486d-9e34-f384c24342cb/public_url" target="_blank"><strong>AutoCad Certificate</strong></a>
            </p>

            <p class="aboutSubHeaderA">

            </p>
            <p class="textA">
                <a href="https://github.com/Mileek" target="_blank"><strong>GitHub</strong></a>
            </p>

            <p class="aboutSubHeaderA">

            </p>
            <p class="textA">
                <a href="https://www.linkedin.com/in/kamil-p-kaszuba/" target="_blank"><strong>LinkedIn</strong></a>
            </p>
        </div>

    </div>


    @*I - afterwords*@
    <div class="container conclusionTileA">
        <div class="conclusionA">
            <p class="textA">I think the most important thing in a career <span>and life</span> is the <strong>motivation to learn new things</strong>, to gain experience in a field you are interested in, and programming is my field of interest. Having said that, even if I am not currently proficient in JavaScript or Python, I can learn it in the future, based on my previous foundations. In terms of my previous projects, such as Entity Framework, I need someone to point me in the direction I should go, so I think commercial experience is really <strong>necessary</strong> for me.</p>
            <p class="aboutHeaderA">Thank You for your attention!</p>


            <div class="arrowsResumeA">
                <img src="~/Content/Img/arrowRoundSideNoteA.png" />
                <p>Here is my resume in English !</p>
                <a href="https://drive.google.com/file/d/16-sAUgdoWfhkZ5-5VIrTip1Zm_loerP-/view?usp=sharing" target="_blank" class="icon-file-pdf"></a>
            </div>
            <div class="arrowsCvA">
                <img src="~/Content/Img/arrowRoundSideNoteA.png" />
                <p>Here is my resume in Polish !</p>
                <a href="https://drive.google.com/file/d/1hEI34Ff4lMZDlhqPsLzOQGPpA7BLJNEP/view?usp=sharing" target="_blank" class="icon-file-pdf"></a>
            </div>
            <div style="clear:both;"></div>
            <div id="graduateOutA">
            </div>
        </div>
    </div>
</div>



@section Scripts{
<script src="~/js/site.js" asp-append-version="true"></script>
}