/**/
/*INITIAL PARAMETERS*/
body, html { /*
    margin-bottom: 120px;*/
    text-align: justify;
    color: #cccccc;
    background-color: #151519;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    padding: 0;
    margin: auto;
    position: relative;
    font-size: 16px;
    min-height: 100%;
    /*padding-top: 40px;*/
    /* margin-bottom: -60px;*/
    /*overflow-x: hidden;*/
    z-index: -1 !important; /*hides bg deeper so that content is always on 1st plan*/
}


.marginContetnt {
    margin-right: 60px;
}


/**/

/*FOOTER SECTION*/
/**/
/*NAVIGATION SECTION*/
#logoSrc {
    height: 50px;
    width: auto;
    margin-left: 10px;
    transition: all 0.5s ease-in;
}

    #logoSrc:hover {
        -webkit-transform: scale(0.85) rotateY(360deg);
        -ms-transform: scale(0.85) rotateY(360deg);
        transform: scale(0.85) rotateY(360deg);
    }

.navbar {
    /*padding-top: 0;
    padding-bottom: 0;*/
    padding: 0;
}
/* change the background color */
.navbar-custom {
    background-color: #151519;
    font-size: 18px;
    display: block;
    word-spacing: 2px;
    letter-spacing: 1px;
    height: 60px;
    padding-right: 5%;
}

    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: #cccccc;
    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: #cccccc;
    }

    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:focus .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        margin: 0;
        opacity: 1;
        transform: scale(0.92);
        animation: fill-navbar 1.6s infinite;
        -webkit-animation: fill-navbar 1.6s infinite;
        -moz-animation: fill-navbar 1.6s infinite;
    }

/*Dropdown menu*/
.navbar-nav .nav-item .dropdown-menu {
    background-color: #151519;
    padding: 10px;
    opacity: 0.96;
    margin-bottom: 2px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}

    .navbar-nav .nav-item .dropdown-menu a {
        color: #cccccc;
        text-align: center;
        font-size: 14px;
        height: 40px;
        padding-top: 10px;
    }

        .navbar-nav .nav-item .dropdown-menu a:hover {
            background-color: #293038;
            border-radius: 20px;
        }
/*Active link color*/
.navbar-nav > .active > a {
    background-color: #293038;
}


.topbar {
    border-bottom: 1px solid #cccccc;
    position: fixed; /*Set the navbar to fixed position */
    top: 0; /*Position the navbar at the top of the page */
    width: 100%; /*Full width */
    z-index: 100;
    box-shadow: 0 2px 1px -1px #33D0CF;
}


/*Toggler*/
.navbar-custom .navbar-toggler {
    border: 1px solid #bbbbbb;
    background-color: #1a1c21;
}

.navbar-custom .navbar-toggler-icon {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

    .navbar-custom .navbar-toggler-icon:before {
        font-family: 'fontello';
        color: #33D0CF;
        font-size: 32px;
        content: '\f008';
        text-align: center;
    }

.navbar-custom .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
    font-family: 'fontello';
    color: #33D0CF;
    font-size: 32px;
    content: '\f008';
    text-align: center;
}

/**/
/*Side bar*/


.linkedin {
    display: block;
    font-size: 40px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    color: #cccccc;
    transition: all 0.4s ease-in-out;
    transform: translateZ(0);
}

    .linkedin:hover {
        color: #0e76a8;
        -webkit-font-smoothing: antialiased;
        transform: translateX(-8px);
    }

.github {
    display: block;
    font-size: 40px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50px;
    color: #cccccc;
    transition: all 0.4s ease-in-out;
    transform: translateZ(0);
}

    .github:hover {
        color: #6e5494;
        transform: translateX(-8px);
    }

.gmail {
    display: block;
    font-size: 40px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100px;
    color: #cccccc;
    transition: all 0.4s ease-in-out;
    transform: translateZ(0);
}

    .gmail:hover {
        color: #EA4335;
        transform: translateX(-8px);
    }


.socialMedia {
    display: block;
    position: fixed;
    width: 55px;
    height: 163px;
    right: 0;
    top: 50%;
    z-index: 80;
    padding-left: 5px;
    background-color: #151519;
    opacity: 0.9;
    border-left: 1px solid #33d06a;
    border-top: 1px solid #33d06a;
    border-bottom: 1px solid #33d06a;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

a.socialLink {
    color: white;
    text-decoration: none;
    display: block;
    position: relative;
    block-size: auto;
    margin-top: 0px;
}

#navUp {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-size: 35px;
    z-index: 80;
    height: 35px;
    width: 35px;
    outline: none;
    border: none;
    padding: 0px;
    margin: 0;
    background-color: transparent;
    color: #cccccc;
    cursor: pointer;
    text-align: center;
}

    #navUp:hover {
        animation: moveup 1.6s infinite;
        -webkit-animation: moveup 1.6s infinite;
        -moz-animation: moveup 1.6s infinite;
    }


/**/
/*Animation*/
@-webkit-keyframes fill-navbar {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
        color: #33D0CF;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes moveup {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-4px);
        color: #33D0CF;
    }

    100% {
        transform: translateY(0px);
    }
}


/**/
/*Mobile Navigation display Layout*/
@media (max-width: 767px) {

    /*delete navbar-fluid margin*/
    .navbar-custom .container-fluid > .navbar-collapse {
        margin-right: -49px;
        margin-left: -12px;
    }

    .navbar-nav {
        float: none;
        width: 100%;
        display: block;
        padding: 0px;
        margin-top: 1px;
        text-align: center;
        background-color: #151519;
    }

        .navbar-nav > li + li {
            border-top: 1px solid #cccccc;
        }

        .navbar-nav > li > a {
            padding-left: 0;
            padding-right: 0;
            border: none;
            border-radius: 0;
        }

        .navbar-nav .nav-item {
            font-size: 32px;
        }

            .navbar-nav .nav-item .dropdown-menu a {
                font-size: 24px;
            }

    #navUp {
        font-size: 50px;
        height: 50px;
        width: 50px;
    }
}


/**/
/*Home Page*/
/**/
.indexBackground {
    background: linear-gradient(180deg, #228fb3, #2263b3, #224bb3, #2238b3, #2224b3);
    animation: gradient 8s ease-in-out infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.marginHome {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 0;
    overflow-y: hidden
}

.greetingAlign {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 10vh;
    height: 58vh;
    /*background-image: linear-gradient(#151519, #2252b3);*/
}

.greeting {
    position: relative;
    top: 10px;
    margin-left: 25px;
    font-size: 100px;
    letter-spacing: 1px;
}

.greetingMsgAlign {
    margin-left: auto;
    margin-right: auto;
    min-height: 32vh;
    height: fit-content;
    padding: 5px;
    /*background-color: #2252b3;*/
}

.greetingsMsg {
    position: relative;
    top: -5px;
    font-size: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.blueNeon:hover {
    color: #e9fbff;
    animation: fill-blue 2s infinite;
    -webkit-animation: fill-blue 2s infinite;
    -moz-animation: fill-blue 2s infinite;
    animation-timing-function: linear;
    /*text-shadow: 0 0 5px #67c1e4, 0 0 10px #44a1cd, 0 0 15px #2681ad, 0 0 20px #0a4f78, 0 0 25px #02314f, 0 0 30px #011321;*/
}

.redNeon:hover {
    color: #ffeded;
    animation: fill-red 2s infinite;
    -webkit-animation: fill-red 2s infinite;
    -moz-animation: fill-red 2s infinite;
    animation-timing-function: linear;
    /*text-shadow: 0 0 5px #feb3b3, 0 0 10px #fe9797, 0 0 15px #ff7170, 0 0 20px #f15958, 0 0 25px #b72828, 0 0 30px #6b0000;*/
}

#arrows {
    display: block;
    position: fixed;
    width: 80px; /*Content is 55px*/
    height: 165px; /*Content is 165px*/
    right: 60px;
    top: 50%;
    z-index: 80;
    padding-left: 5px;
    border: none;
}

#topBottom {
    position: absolute;
    top: -75px;
    right: -80px;
    width: 80px;
    height: 50px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#bottomTop {
    position: absolute;
    bottom: -75px;
    right: -80px;
    width: 80px;
    height: 50px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#topLeftRight {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 50px;
}

#bottomLeftRight {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 80px;
    height: 50px;
    -webkit-transform: rotateX(180deg) rotateY(0deg);
    -moz-transform: rotateX(180deg) rotateY(0deg);
    -ms-transform: rotateX(180deg) rotateY(0deg);
    transform: rotateX(180deg) rotateY(0deg);
}

#socialText {
    position: absolute;
    font-size: 13px;
    top: -60px;
    right: -15px;
    width: 70px;
    height: 50px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.projectTile img {
    width: 100%;
    height: auto;
}


.bottomImg {
    max-height: 300px;
}


.projectTile {
    height: fit-content;
    padding: 5px;
    margin-top: 0px;
    margin-left: -12px;
    margin-right: -12px;
    padding-bottom: 60px;
    /*background-image: linear-gradient(#2252b3,#0b1e45 );*/
}

.icon-forward:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#pointProjects {
    border-top: 1px dotted white;
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.kapkaTile {
    background-color: wheat;
    padding: 60px;
    margin-bottom: 40px;
    margin-right: 40px;
}


/*Home animations*/
@-webkit-keyframes fill-blue {
    0% {
        left: 0;
    }

    25% {
        left: 100%;
        text-shadow: 0 0 5px #56b0d3, 0 0 10px #3390bc, 0 0 15px #15709c, 0 0 20px #093d67, 0 0 25px #01203d, 0 0 30px #000210;
    }

    50% {
        left: 100%;
        text-shadow: 0 0 5px #67c1e4, 0 0 10px #44a1cd, 0 0 15px #2681ad, 0 0 20px #0a4f78, 0 0 25px #02314f, 0 0 30px #011321;
    }

    75% {
        left: 100%;
        text-shadow: 0 0 5px #56b0d3, 0 0 10px #3390bc, 0 0 15px #15709c, 0 0 20px #093d67, 0 0 25px #01203d, 0 0 30px #000210;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes fill-red {
    0% {
        left: 0;
    }

    25% {
        left: 100%;
        text-shadow: 0 0 5px #dca2a2, 0 0 10px #ed8686, 0 0 15px #ee6060, 0 0 20px #e04847, 0 0 25px #a61717, 0 0 30px #5a0000;
    }

    50% {
        left: 100%;
        text-shadow: 0 0 5px #feb3b3, 0 0 10px #fe9797, 0 0 15px #ff7170, 0 0 20px #f15958, 0 0 25px #b72828, 0 0 30px #6b0000;
    }

    75% {
        left: 100%;
        text-shadow: 0 0 5px #dca2a2, 0 0 10px #ed8686, 0 0 15px #ee6060, 0 0 20px #e04847, 0 0 25px #a61717, 0 0 30px #5a0000;
    }

    100% {
        left: 0;
    }
}

/**/
/*Mobile Navigation display Layout*/
@media (max-width: 767px) {
    #topBottom {
        display: none;
    }

    #bottomTop {
        display: none;
    }

    #topLeftRight {
        display: none;
    }

    #bottomLeftRight {
        display: none;
    }

    #socialText {
        display: none;
    }

    .greeting {
        margin-left: 10px;
        font-size: 54px;
        letter-spacing: 1px;
    }

    .greetingsMsg {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 82px;
        text-align: center;
        letter-spacing: 1px;
    }

    .greetingMsgAlign {
        min-height: 22vh;
    }
}



.tileHome {
    padding: 1%;
    margin-bottom: 2%;
}

/*Tile 1 styling*/

.rescatTile {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: #1d202b;
    overflow: hidden;
}

    .rescatTile .rescatImg,
    .rescatTile .rescatDetails {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        transition: 0.8s;
    }

    .rescatTile .rescatImg {
        top: 0;
        right: 0;
    }

    .rescatTile:hover .rescatImg {
        top: 0;
        right: -100%;
    }

    .rescatTile .rescatImg img {
        width: 100%;
    }

    .rescatTile .rescatDetails {
        background: #1d202b;
        top: 0;
        right: 100%;
        padding: 20px 20px;
    }

    .rescatTile:hover .rescatDetails {
        top: 0;
        right: 0%;
    }

    .rescatTile .rescatDetails h2 {
        color: #cccccc;
        text-align: center;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 2px solid #33D0CF;
    }

    .rescatTile .rescatDetails p {
        margin: 20px 0 0;
        color: #cccccc;
    }

/*Tile 2 styling*/


.kapkaTile {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    min-height: 300px;
    background: #1d202b;
    overflow: hidden;
}

    .kapkaTile .kapkaImg,
    .kapkaTile .kapkaDetails {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        transition: 0.8s;
    }

    .kapkaTile .kapkaImg {
        top: 0;
        left: 0;
    }

    .kapkaTile:hover .kapkaImg {
        top: 0;
        left: -100%;
    }

    .kapkaTile .kapkaImg img {
        width: 100%;
    }

    .kapkaTile .kapkaDetails {
        background: #1d202b;
        top: 0;
        left: 100%;
        padding: 20px 20px;
    }

    .kapkaTile:hover .kapkaDetails {
        top: 0;
        left: 0%;
    }

    .kapkaTile .kapkaDetails h2 {
        color: #cccccc;
        text-align: center;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 2px solid #33D0CF;
    }

    .kapkaTile .kapkaDetails p {
        margin: 20px 0 0;
        color: #cccccc;
    }

/*tile 3 styling*/

.ucTile {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    min-height: 300px;
    background: #1d202b;
    overflow: hidden;
}

    .ucTile .ucImg,
    .ucTile .ucDetails {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        transition: 0.8s;
    }

    .ucTile .ucImg {
        top: 0;
    }

    .ucTile:hover .ucImg {
        top: -100%;
    }

    .ucTile .ucImg img {
        width: 100%;
    }

    .ucTile .ucDetails {
        background: #1d202b;
        top: 100%;
        padding: 20px 20px;
    }

    .ucTile:hover .ucDetails {
        top: 0;
        left: 0%;
    }

    .ucTile .ucDetails h2 {
        color: #cccccc;
        text-align: center;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 2px solid #33D0CF;
    }

    .ucTile .ucDetails p {
        margin: 20px 0 0;
        color: #cccccc;
    }

/*tile 4 styling*/

.sqlTile {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    min-height: 300px;
    background: #1d202b;
    overflow: hidden;
}

    .sqlTile .sqlImg,
    .sqlTile .sqlDetails {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        transition: 0.8s;
    }

    .sqlTile .sqlImg {
        top: 0;
        bottom: -100%;
    }

    .sqlTile:hover .sqlImg {
        top: -100%;
        bottom: 0;
    }

    .sqlTile .sqlImg img {
        width: 100%;
    }

    .sqlTile .sqlDetails {
        background: #1d202b;
        bottom: 0;
        top: 100%;
        padding: 20px 20px;
    }

    .sqlTile:hover .sqlDetails {
        bottom: 0;
        top: 0%;
    }

    .sqlTile .sqlDetails h2 {
        color: #cccccc;
        text-align: center;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 2px solid #33D0CF;
    }

    .sqlTile .sqlDetails p {
        margin: 20px 0 0;
        color: #cccccc;
    }

/*tile 5 styling*/

.cmdTile {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    min-height: 300px;
    background: #1d202b;
    overflow: hidden;
}

    .cmdTile .cmdImg,
    .cmdTile .cmdDetails {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        box-sizing: border-box;
        transition: 0.8s;
    }

    .cmdTile .cmdImg {
        top: 0px;
    }

    .cmdTile:hover .cmdImg {
        top: 0;
        top: -100%;
    }

    .cmdTile .cmdImg img {
        width: 100%;
    }

    .cmdTile .cmdDetails {
        background: #1d202b;
        top: 100%;
        padding: 20px 20px;
    }

    .cmdTile:hover .cmdDetails {
        top: 0;
        left: 0%;
    }

    .cmdTile .cmdDetails h2 {
        color: #cccccc;
        text-align: center;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 2px solid #33D0CF;
    }

    .cmdTile .cmdDetails p {
        margin: 20px 0 0;
        color: #cccccc;
    }

/*Background strongly inspired by https://codepen.io/osorina */

.contentBg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #111114;
    background-image: radial-gradient(#e3e3e3, rgba(255, 218, 191,.2) 2px, transparent 40px), radial-gradient(#e3e3e3, rgba(252, 255, 191,.15) 1px, transparent 30px), radial-gradient(#e3e3e3, rgba(193, 191, 255,.1) 2px, transparent 50px), radial-gradient(rgba(191, 255, 214,.4), rgba(255, 191, 234,.1) 2px, transparent 15px);
    background-size: 550px 550px, 350px 350px, 240px 250px, 150px 150px;
    background-position: 0, 0, 40px 60px, 130px 270px, 80px 110px;
    z-index: 0;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    z-index: -1;
}

.line {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    left: 50%;
    margin: auto;
    background: transparent;
}

    .line::after {
        content: "";
        display: block;
        position: absolute;
        height: 15%;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 95%, #fcffbf 99.9%);
        -webkit-animation: drop 12s 0s infinite;
        animation: drop 12s 0s infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0.53, 0.31, 0.12, 0.97);
        animation-timing-function: cubic-bezier(0.53, 0.31, 0.12, 0.97);
    }

    .line:nth-child(1) {
        margin-left: -50%;
    }

        .line:nth-child(1)::after {
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
        }

    .line:nth-child(2) {
        margin-left: -45%;
    }

    .line:nth-child(3) {
        margin-left: 50%;
    }

        .line:nth-child(3)::after {
            -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
        }

    .line:nth-child(4) {
        margin-left: 45%;
    }

        .line:nth-child(4)::after {
            -webkit-animation-delay: 1.6s;
            animation-delay: 1.6s;
        }

    .line:nth-child(5) {
        margin-left: 30%;
    }

        .line:nth-child(5)::after {
            -webkit-animation-delay: 1.2s;
            animation-delay: 1.6s;
        }

    .line:nth-child(6) {
        margin-left: -30%;
    }

        .line:nth-child(6)::after {
            -webkit-animation-delay: 1.4s;
            animation-delay: 1.6s;
        }


@-webkit-keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}


/**/
/*Me Myself & I*/
/**/

.paddingTopA {
    padding-top: 36px;
    padding-bottom: 30px;
}

.resumeStyleA {
    background-color: #1d202b;
    text-align: center;
}

.aboutMeA {
    padding-bottom: 5px;
    border-bottom: 2px solid #33D0CF;
    overflow: auto;
}

.photoLeftA {
    float: left;
    margin-right: 15px;
}

/*tiles MeMyselfI*/
.educationA {
    padding-bottom: 5px;
    border-bottom: 2px solid #33D0CF;
}

.experienceA {
    padding-bottom: 5px;
    border-bottom: 2px solid #33D0CF;
}

.skllsA {
    padding-bottom: 5px;
    border-bottom: 2px solid #33D0CF;
}

.languagesA {
    padding-bottom: 5px;
    border-bottom: 2px solid #33D0CF;
}

.coursesA {
    padding-bottom: 5px;
    border-bottom: 2px solid #33D0CF;
}

.hobbyA {
    padding-bottom: 5px;
    border-bottom: 2px solid #33D0CF;
}

.linksA {
    padding-bottom: 5px;
    border-bottom: 2px solid #33D0CF;
}

.skillsTableA {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
}

.textRightA {
    padding: 100px 0;
}
/*table*/
.skillsTableA {
    margin-bottom: 2vw;
}

    .skillsTableA td, .skillsTableA th {
        border: 1px solid #cccccc;
        padding: 8px;
    }

    .skillsTableA th {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 20px;
        text-align: center;
        background-color: #25b862;
        color: black;
        font-weight: 700;
    }

    .skillsTableA tr:nth-child(even) {
        background-color: #2e313c;
    }

    .skillsTableA tr:hover {
        border: 1.05px solid #33d0cf;
    }

/*Text styling MeMyselfI*/
#kamilTopA {
    display: block;
    height: 450px;
    padding-top: 5px;
    padding-right: 0px;
}

#shortNoteA {
    letter-spacing: 1px;
    padding: 10px;
}

.aboutHeaderA {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
}

.aboutSubHeaderA {
    font-size: 22px;
    letter-spacing: 1px;
}

.textA {
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

    .textA a:link,
    .textA a:visited,
    .textA a:active {
        color: #cccccc;
        text-decoration: none;
    }

    .textA a:hover {
        color: #33D0CF;
        border: 1px solid #33D0CF;
        border-radius: 5px;
        padding: 5px;
    }

.dateA {
    letter-spacing: 1px;
    margin-top: 75px;
}

.conclusionA .textA span {
    text-decoration: line-through;
    text-decoration-thickness: .1px;
}
/*side notes*/
.arrowsEducationA {
    float: right;
    clear: right;
    width: 100px;
    position: relative;
    margin-left: -100%;
    z-index: 10;
}

    .arrowsEducationA img {
        width: 100px;
        height: 50px;
        -webkit-transform: rotate(180deg) translateY(80%);
        -moz-transform: rotate(180deg) translateY(80%);
        -ms-transform: rotate(180deg) translateY(80%);
        transform: rotate(180deg) translateY(80%);
    }

    .arrowsEducationA p {
        position: relative;
        right: -50px;
        top: -25px;
        color: #13ed13;
        border: 1px dashed #13ed13;
        border-radius: 10px;
        font-size: 14px;
        word-spacing: 1px;
    }

.sideNoteExperienceA {
    float: left;
    clear: right;
    position: relative;
    margin-right: -100%;
    z-index: 10;
    margin-top: 10%;
    width: 100px;
    height: 100%;
    /*transition: transform 2s ease-in-out;*/
}

    .sideNoteExperienceA p {
        position: relative;
        color: #13ed13;
        left: -48%;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        transform: rotate(180deg) translateX(-60%);
        border-left: 1px solid #13ed13;
        /*transition: transform 1s ease-in-out;*/
    }

    .sideNoteExperienceA:hover p {
        transform: rotate(0deg);
        padding-top: 100px;
        padding-right: 5px;
        width: 100px;
        height: 100vh;
        writing-mode: horizontal-tb;
        border-left: none;
        margin-right: -100%;
        border-right: 1px solid #13ed13;
        left: 0;
    }

.arrowsLanguagesA {
    float: left;
    clear: left;
    width: 100px;
    position: relative;
    margin-right: -100%;
    z-index: 10;
}

    .arrowsLanguagesA img {
        width: 100px;
        height: 50px;
        -webkit-transform: translateY(-125%) translateX(40%);
        -moz-transform: translateY(-125%) translateX(40%);
        -ms-transform: translateY(-125%) translateX(40%);
        transform: translateY(-125%) translateX(40%);
    }

    .arrowsLanguagesA p {
        -webkit-transform: translateY(-205%);
        -moz-transform: translateY(-205%);
        -ms-transform: translateY(-205%);
        transform: translateY(-205%);
        color: #13ed13;
        border: 1px dashed #13ed13;
        border-radius: 10px;
        font-size: 14px;
        word-spacing: 1px;
    }

/*Message styling in About Me*/
.aboutMeStyleA {
    background-color: #1d202b;
    border-bottom: 4px solid #33D0CF;
}

.aboutMeLogoA {
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 72px;
    word-spacing: 1px;
}

#meA {
    z-index: 10;
    color: #ffeded;
    animation: fill-red 2s infinite;
    -webkit-animation: fill-red 2s infinite;
    -moz-animation: fill-red 2s infinite;
    animation-timing-function: linear;
    /*text-shadow: 0 0 5px #67c1e4, 0 0 10px #44a1cd, 0 0 15px #2681ad, 0 0 20px #0a4f78, 0 0 25px #02314f, 0 0 30px #011321;*/
}

#myselfA {
    color: #e9fbff;
    animation: fill-green 2s infinite;
    -webkit-animation: fill-green 2s infinite;
    -moz-animation: fill-green 2s infinite;
    animation-timing-function: linear;
    /*text-shadow: 0 0 5px #feb3b3, 0 0 10px #fe9797, 0 0 15px #ff7170, 0 0 20px #f15958, 0 0 25px #b72828, 0 0 30px #6b0000;*/
}

#iA {
    color: #c3ffb5;
    animation: fill-blue 2s infinite;
    -webkit-animation: fill-blue 2s infinite;
    -moz-animation: fill-blue 2s infinite;
    animation-timing-function: linear;
}

.aboutMeNoteA {
    text-align: justify;
    padding: 10px;
    word-spacing: 1px;
    font-size: 18px;
    line-height: 1.6;
}

#introductionA {
    margin-top: 100px;
    margin-bottom: 25px;
}

#myStudiesA {
    margin-bottom: 25px;
}

#rescatA {
    margin-bottom: 25px;
}

#myHobbysA {
    margin-bottom: 25px;
}

#learningA {
    margin-bottom: 25px;
}

#pointResumeA {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.aboutMeNoteA span {
    text-decoration: line-through;
    text-decoration-thickness: .1px;
}


.aboutMeNoteA a:link,
.aboutMeNoteA a:visited,
.aboutMeNoteA a:active {
    color: #cccccc;
    font-weight: 600;
    /*text-decoration: none;*/
}

.aboutMeNoteA a:hover {
    color: #33D0CF;
    border: 1px solid #33D0CF;
    border-radius: 5px;
    padding: 0px;
}

/*Conclusion about me*/
.conclusionTileA {
    background-color: #1d202b;
    letter-spacing: 1px;
}

.conclusionA {
    padding-top: 3%;
    text-align: center;
}

    .conclusionA .aboutHeaderA {
        padding-top: 5%;
        color: #e3d3d3;
    }


#graduateOutA {
    margin-top: 350px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: auto;
    overflow: hidden;
    content: url("../Content/Img/kamilGraduate.jpg");
}

.arrowsResumeA {
    float: left;
    width: 100px;
    position: relative;
    z-index: 10;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    .arrowsResumeA img {
        width: 200px;
        height: 100px;
        position: absolute;
        top: 15vh;
        right: -25vh;
        transform: rotateY(180deg);
    }

    .arrowsResumeA p {
        position: absolute;
        width: 100px;
        top: 5vh;
        right: -30vh;
        color: #13ed13;
        border: 1px dashed #13ed13;
        border-radius: 10px;
        font-size: 18px;
        word-spacing: 1px;
    }

    .arrowsResumeA a {
        font-size: 100px;
        display: block;
        position: absolute;
        color: yellow;
        right: -5vh;
        top: 15vh;
    }

        .arrowsResumeA a:link,
        .arrowsResumeA a:visited,
        .arrowsResumeA a:active {
            color: white;
            text-decoration: none;
        }

        .arrowsResumeA a:hover {
            color: #F40F02;
        }

.arrowsCvA {
    float: right;
    position: relative;
    width: 100px;
    margin-left: 0%;
    z-index: 10;
}

    .arrowsCvA img {
        width: 200px;
        height: 100px;
        position: absolute;
        top: 10vh;
        left: -25vh;
        transform: rotateX(180deg);
    }

    .arrowsCvA p {
        position: absolute;
        top: 22vh;
        left: -30vh;
        width: 100px;
        color: #13ed13;
        border: 1px dashed #13ed13;
        border-radius: 10px;
        font-size: 18px;
        word-spacing: 1px;
    }

    .arrowsCvA a {
        font-size: 100px;
        position: absolute;
        left: -5vh;
        top: 4vh;
    }

        .arrowsCvA a:link,
        .arrowsCvA a:visited,
        .arrowsCvA a:active {
            color: white;
            text-decoration: none;
        }

        .arrowsCvA a:hover {
            color: #F40F02;
        }

@-webkit-keyframes fill-green {
    0% {
        left: 0;
    }

    25% {
        left: 100%;
        text-shadow: 0 0 5px #7cc26c, 0 0 10px #4da93a, 0 0 15px #235d08, 0 0 20px #082a07, 0 0 25px #00170e, 0 0 30px #021c03;
    }

    50% {
        left: 100%;
        text-shadow: 0 0 5px #8dd37d, 0 0 10px #5eba4b, 0 0 15px #346e19, 0 0 20px #193b18, 0 0 25px #11280e, 0 0 30px #132d14;
    }

    75% {
        left: 100%;
        text-shadow: 0 0 5px #7cc26c, 0 0 10px #4da93a, 0 0 15px #235d08, 0 0 20px #082a07, 0 0 25px #00170e, 0 0 30px #021c03;
    }

    100% {
        left: 0;
    }
}
/*Mobile display About Me*/
@media (max-width: 767px) {
    .arrowsEducationA {
        display: none;
    }

    .sideNoteExperienceA {
        display: none;
    }

    .arrowsLanguagesA {
        display: none;
    }

    .arrowsCvA {
        width: 100px;
        margin-left: 0%;
        z-index: 10;
    }

        .arrowsCvA img {
            width: 100px;
            height: 50px;
            top: 10vh;
            left: -10vh;
        }

        .arrowsCvA p {
            width: 75px;
            font-size: 14px;
            top: 17vh;
            left: -15vh;
        }

        .arrowsCvA a {
            font-size: 50px;
            top: 6vh;
            left: 1vh;
        }

    .arrowsResumeA {
        width: 100px;
        margin-left: 0%;
        z-index: 10;
    }

        .arrowsResumeA img {
            width: 100px;
            height: 50px;
            top: 20vh;
            right: -8vh;
        }

        .arrowsResumeA p {
            width: 75px;
            font-size: 14px;
            top: 8vh;
            right: -12vh;
        }

        .arrowsResumeA a {
            font-size: 50px;
            top: 20vh;
            right: 3vh;
        }
}

/**/
/*ReSCat*/
/**/


.paddingTopR {
    padding-top: 30px;
    letter-spacing: 1px;
}

.rescatTileStyleR {
    padding-top: 5vw;
    text-align: justify;
    background-color: #1d202b;
}

.introTileR {
    text-align: center;
}

#openingNoteR {
    margin-top: 15px;
    font-size: 18px;
    text-align: justify;
}

.technologiesR {
    margin-bottom: 10%;
}

.introTileR a img {
    width: 15%;
    height: 15%;
}

.technologiesR {
    margin-top: 10%;
}

    .technologiesR figure img {
        width: 15%;
        height: 15%;
        display: inline-block;
    }

#cSharpR {
    float: left;
}

#wpfR {
    float: left;
}

#entityFrameworkR {
    padding-top: 1%;
    margin-left: 10%;
    width: 20%;
    height: 20%;
}

#xamlR {
    margin-left: 12%;
}

#closedXmlR {
    display: inline-block;
    color: white;
    font-size: 2vw;
    border: 3px solid #33D0CF;
    border-top-left-radius: 20px;
    padding: 5px 15px 5px 15px;
}

#scottPlott {
    display: inline-block;
    color: white;
    font-size: 2vw;
    border: 3px solid #33D0CF;
    border-top-right-radius: 20px;
    padding: 5px 15px 5px 15px;
    margin-left: 12%;
}

.headerProjects {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 42px;
    font-weight: 600;
}

.subHeaderProjects {
    margin-top: 2vw;
    padding-bottom: 2vw;
    font-size: 38px;
    font-weight: 600;
}

.gifsR figure img {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50vw;
    height: auto;
}

.gifAdd {
    content: url("../Content/Gif/ReSCatMain.png");
}

    .gifAdd:hover {
        content: url("../Content/Gif/ReSCatAddGif.gif");
    }

.gifDel {
    content: url("../Content/Gif/ReSCatMain.png");
}

    .gifDel:hover {
        content: url("../Content/Gif/ReSCatDeleteGif.gif");
    }

.gifUpd {
    content: url("../Content/Gif/ReSCatMain.png");
}

    .gifUpd:hover {
        content: url("../Content/Gif/ReSCatUpdateGif.gif");
    }

.gifCal {
    content: url("../Content/Gif/ReSCatMain.png");
}

    .gifCal:hover {
        content: url("../Content/Gif/ReSCatCalendarGif.gif");
    }

.gifFilter {
    content: url("../Content/Gif/ReSCatMain.png");
}

    .gifFilter:hover {
        content: url("../Content/Gif/ReSCatFilterGif.gif");
    }

.gifSearch {
    content: url("../Content/Gif/ReSCatMain.png");
}

    .gifSearch:hover {
        content: url("../Content/Gif/ReSCatSearchGif.gif");
    }

.gifChart {
    content: url("../Content/Gif/ReSCatMain.png");
}

    .gifChart:hover {
        content: url("../Content/Gif/ReSCatChartsGif.gif");
    }

.gifLog {
    content: url("../Content/Gif/ReSCatMain.png");
}

    .gifLog:hover {
        content: url("../Content/Gif/ReSCatLogsGif.gif");
    }

/**/
/*KapKa*/
/**/
.paddingTopK {
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

.rescatTileStyleK {
    text-align: justify;
    background-color: #1d202b;
}

.introTileK {
    text-align: center;
}

    .introTileK a img {
        max-height: 200px;
    }

.technologiesK figure img {
    max-height: 150px;
}

#cSharpR {
    float: left;
    margin-right: 5%;
}

#htmlR {
    float: left;
    margin-right: 5%;
}

#cssR {
    float: left;
}

#visualStudioComR {
    float: left;
    margin-right: 5%;
}

#visualStudioCodR {
    float: left;
}

.question {
    margin-top: 75px;
    color: #13ed13;
    font-size: 20px;
    font-weight: 600;
}

.answer {
    color: #33D0CF;
    font-size: 18px;
    font-style: oblique;
    font-weight: 600;
}

#crossK {
    position: relative;
    display: inline-block;
}

    #crossK::before, #crossK::after {
        content: '';
        width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
    }

    #crossK::before {
        border-bottom: 1px solid red;
        -webkit-transform: skewY(-10deg);
        transform: skewY(-10deg);
    }

    #crossK::after {
        border-bottom: 1px solid red;
        -webkit-transform: skewY(10deg);
        transform: skewY(10deg);
    }

/**/
/*uC Program*/
/**/
.sideNoteUS {
    font-size: 12px;
}

.uCProgramTileStyleU {
    text-align: justify;
    background-color: #1d202b;
}

.paddingTopU {
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

#openingNoteU {
    padding-bottom: 5vw;
}

.programsU figure img {
    margin-bottom: 150px;
    margin-top: 50px;
}

.gist {
    max-width: 800px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

    .gist .blob-wrapper.data {
        max-height: 500px;
        overflow: auto;
    }

#uCADC {
    content: url("../Content/Img/uCADC.png");
    height: 25vw;
    width: 45vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#uCCnt {
    content: url("../Content/Img/uCTime1.png");
    height: 25vw;
    width: 45vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: blurOut 0.6s ease-in-out;
}

    #uCCnt:hover {
        animation: blurIn 0.6s ease-in-out;
        content: url("../Content/Img/uCTime2.png");
    }

#uCRTCSM {
    content: url("../Content/Img/ucRTCSM.png");
    animation: RTCPhoto 15s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vw;
    width: 45vw;
}

@-webkit-keyframes RTCPhoto {
    0% {
        content: url("../Content/Img/ucRTCSM.png");
    }

    50% {
        content: url("../Content/Img/uCRTCHD.png")
    }

    100% {
        content: url("../Content/Img/uCRTCY.png")
    }
}

@-webkit-keyframes blurIn {
    0% {
        filter: blur(6px);
    }
}

@-webkit-keyframes blurOut {
    0% {
        filter: blur(6px);
    }
}


/**/
/*SqlDB*/
/**/
.sqlDbTileStyleS {
    text-align: justify;
    background-color: #1d202b;
}

.paddingTopS {
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

.programsS figure img {
    margin-bottom: 150px;
    margin-top: 50px;
}


#openingNoteS {
    padding-bottom: 5vw;
}


#dataBaseImgS {
    content: url("../Content/Img/emptyDb.png");
    height: 25vw;
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: blurOut 0.6s ease-in-out;
}

    #dataBaseImgS:hover {
        animation: blurIn 0.6s ease-in-out;
        content: url("../Content/Img/functionsDb.png");
    }

#winFormsSellBuyImgS {
    content: url("../Content/Img/winFormsSell.png");
    height: 25vw;
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: blurOut 0.6s ease-in-out;
}

    #winFormsSellBuyImgS:hover {
        animation: blurIn 0.6s ease-in-out;
        content: url("../Content/Img/winFormsBuy.png");
    }


/**/
/*Console Apps*/
/**/
.sqlDbTileStyleC {
    text-align: justify;
    background-color: #1d202b;
}

.paddingTopC {
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

.programsC figure img {
    margin-bottom: 150px;
    margin-top: 50px;
}


#openingNoteC {
    padding-bottom: 5vw;
}

/*Contact Me*/
.topBottomC {
    margin-top: 50px;
    height: 115vh;
}

.contactTile {
    position:relative;
    padding: 10px;
    margin-top: 80px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #33d0cf;
    -webkit-box-shadow: 0px 0px 40px -15px rgba(51, 208, 207, 1);
    -moz-box-shadow: 0px 0px 40px -15px rgba(51, 208, 207, 1);
    box-shadow: 0px 0px 40px -15px rgba(51, 208, 207, 1);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background-image: url(/Content/Img/contactBg.jpg);
    background-position: top;
}

    .contactTile > h1 {
        font-weight: 700;
        text-align: center;
    }

    .contactTile > hr {
        height: 2px;
        color: white;
        margin-top: 20px;
    }

.form-group > label {
    color: #cccccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}

.nameInput, .emailInput, .topicInput {
    background-color: #232c38;
    color: white;
    border: none;
}

    .nameInput:focus, .emailInput:focus, .topicInput:focus {
        background-color: #232c38;
        color: white;
        border: 1px solid #33d0cf;
        -webkit-box-shadow: 0px 0px 40px -22px rgba(51, 208, 207, 1);
        -moz-box-shadow: 0px 0px 40px -22px rgba(51, 208, 207, 1);
        box-shadow: 0px 0px 40px -22px rgba(51, 208, 207, 1);
    }


.messageInput {
    height: 200px;
    color: white;
    background-color: #232c38;
    border: none;
}

    .messageInput:focus {
        height: 200px;
        color: white;
        background-color: #232c38;
        border: 1px solid #33d0cf;
        -webkit-box-shadow: 0px 0px 40px -22px rgba(51, 208, 207, 1);
        -moz-box-shadow: 0px 0px 40px -22px rgba(51, 208, 207, 1);
        box-shadow: 0px 0px 40px -22px rgba(51, 208, 207, 1);
    }

.buttonContainer {
    text-align: center;
}

.buttonSubmit {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 20%;
    min-width:100px;
    background: #232c38;
    color: white;
    border: 3px dotted #33d0cf;
}

    .buttonSubmit:hover {
        color: white;
        border: 3px solid #33d0cf;
        animation: fill-navbar 1.6s infinite;
        -webkit-animation: fill-navbar 1.6s infinite;
        -moz-animation: fill-navbar 1.6s infinite;
    }

.arrowsName {
    /*position: relative;*/
}

    .arrowsName img {
        position: absolute;
        transform: translateX(-125%) translateY(-125%);
        height: 50px;
        width: 100px;
    }

    .arrowsName p {
        position: absolute;
        transform: translateX(-130%) translateY(-175%);
        color: #13ed13;
        border: 1px dashed #13ed13;
        border-radius: 10px;
        font-size: 14px;
        word-spacing: 1px;
        width: 150px;
        padding: 5px;
    }

.arrowsEmail {
    display:flex;
}

    .arrowsEmail img {
        position: absolute;
        transform: rotateY(180deg) rotateX(180deg);
        left:102%;
        bottom:58%;
        height: 50px;
        width: 100px;
    }

    .arrowsEmail p {
        position: absolute;
        left: 110%;
        bottom: 40%;
        color: #13ed13;
        border: 1px dashed #13ed13;
        border-radius: 10px;
        font-size: 14px;
        word-spacing: 1px;
        width: 150px;
        padding: 5px;
    }

.arrowsEmail {
    /*position: relative;*/
}

.arrowsTopic img {
    position: absolute;
    transform: translateX(-125%) translateY(-50%) rotateX(180deg);
    height: 50px;
    width: 100px;
}

.arrowsTopic p {
    position: absolute;
    transform: translateX(-150%) translateY(50%);
    color: #13ed13;
    border: 1px dashed #13ed13;
    border-radius: 10px;
    font-size: 14px;
    word-spacing: 1px;
    width: 150px;
    padding: 5px;
}
.form-group>span {
    color: red;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    /*border: 1px solid red;*/
    font-style:italic;
}
